In [20]:
#função para verificar a última versão disponível de arquivos .csv Bolsa família no Portal da Transparência

#utilizar selenium para verificar

#end para verif: https://www.portaltransparencia.gov.br/download-de-dados/bolsa-familia-pagamentos
import requests
import pandas as pd
import json

def corrigir_nomes(nome):
    nome = nome.replace('.', '').replace('ç', 'c').replace('ô', 'o').replace('é', 'e').replace('ó', 'o').replace('í','i').replace('â', 'a').replace("Â", "a")
    nome = nome.upper()
    return nome


populacao_cidade = 0
porc_recebimento = 0
#função para buscar número de população do município
def busca_populacao_municipio(nome_municipio):
    tabela_populacao = pd.read_csv("lista_populacao.csv", sep=";", encoding="ISO8859-2")
    tabela_populacao['Município'] = tabela_populacao['Município'].apply(corrigir_nomes)
    print("TIPO TABELA POPULACAO:", type(tabela_populacao))
    tabela_filtro = tabela_populacao[tabela_populacao['Município'].str.contains(nome_municipio,  na=False)]
    # aqui está com um problema que somente busca se a escrita estiver exata (acentos e min/maiusc)
    display(tabela_filtro)
    populacao_cidade = tabela_filtro['Populaçăo 2010']
    print("!!!!", populacao_cidade)
    return populacao_cidade

nome_municipio = ""
nome_municipio = input("Digite o nome do Muninípio:")
nome_municipio = nome_municipio.upper() #coloca em maiúsculas o nome do município
tabela = pd.read_csv("202110_BolsaFamilia_Pagamentos.csv", sep=";", encoding="ISO8859-2")
print(tabela.info())
tabela_cidade = tabela[tabela['NOME MUNICÍPIO'].str.contains(nome_municipio,  na=False)]
display(tabela_cidade)
num_registros_cidade = tabela_cidade.count()
num_id_municipio = tabela_cidade['CÓDIGO MUNICÍPIO SIAFI']

retorno = busca_populacao_municipio(nome_municipio)
print(">>>", retorno)

porc_recebimento = num_registros_cidade / populacao_cidade    
print("Nº Total de Registros: ", num_registros_cidade)
print("População da cidade de ", nome_municipio, " :", str(populacao_cidade))
print("% da população da cidade que recebe Bolsa Família: ", porc_recebimento)

Digite o nome do Muninípio:santo angelo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14654789 entries, 0 to 14654788
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   MĘS REFERĘNCIA          int64
 1   MĘS COMPETĘNCIA         int64
 2   UF                      object
 3   CÓDIGO MUNICÍPIO SIAFI  int64
 4   NOME MUNICÍPIO          object
 5   CPF FAVORECIDO          object
 6   NIS FAVORECIDO          int64
 7   NOME FAVORECIDO         object
 8   VALOR PARCELA           object
dtypes: int64(4), object(5)
memory usage: 1006.3+ MB
None

,MĘS REFERĘNCIA,MĘS COMPETĘNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,CPF FAVORECIDO,NIS FAVORECIDO,NOME FAVORECIDO,VALOR PARCELA
12321909,202110,202110,RS,8853,SANTO ANGELO,***.196.380-**,23696500697,ABIMAEL KURTZ DO NASCIMENTO,"89,00"
12321910,202110,202110,RS,8853,SANTO ANGELO,***.492.970-**,12489963777,ADAO MAURO DA SILVA,"89,00"
12321911,202110,202110,RS,8853,SANTO ANGELO,***.321.860-**,10706653626,ADAO PEDRO GRAS,"89,00"
12321912,202110,202110,RS,8853,SANTO ANGELO,***.050.690-**,21260030336,ADAO RODRIGUES DE ANDRADE,"89,00"
12321913,202110,202110,RS,8853,SANTO ANGELO,***.336.490-**,12761598697,ADELIA BRATZ,"171,00"
...,...,...,...,...,...,...,...,...,...
12325031,202110,202110,RS,8853,SANTO ANGELO,NaN,21061932038,ZENI MOURA VARGAS,"41,00"
12325032,202110,202110,RS,8853,SANTO ANGELO,***.729.800-**,16577959154,ZENILDA AMARAL DOS SANTOS,"89,00"
12325033,202110,202110,RS,8853,SANTO ANGELO,***.871.850-**,16586978093,ZENILDA FONSECA DE SOUZA,"137,00"
12325034,202110,202110,RS,8853,SANTO ANGELO,***.882.280-**,12286651975,ZILDA DE FATIMA BIERNASKI,"137,00"
12325035,202110,202110,RS,8853,SANTO ANGELO,***.855.790-**,10258557459,ZILMOR SANTINO SOARES,"89,00"

TIPO TABELA POPULACAO: <class 'pandas.core.frame.DataFrame'>

,ConcatUF+Mun,IBGE,IBGE7,UF,Município,Regiăo,Populaçăo 2010,Porte,Capital,Unnamed: 9
4979,RSSanto Ângelo,431750,4317509,RS,SANTO ANGELO,Regiăo Sul,76275.0,Médio,NaN,NaN

!!!! 4979    76275.0
Name: Populaçăo 2010, dtype: float64
>>> 4979    76275.0
Name: Populaçăo 2010, dtype: float64
Nº Total de Registros:  MĘS REFERĘNCIA            3127
MĘS COMPETĘNCIA           3127
UF                        3127
CÓDIGO MUNICÍPIO SIAFI    3127
NOME MUNICÍPIO            3127
CPF FAVORECIDO            3060
NIS FAVORECIDO            3127
NOME FAVORECIDO           3127
VALOR PARCELA             3127
dtype: int64
População da cidade de  SANTO ANGELO  : 0
% da população da cidade que recebe Bolsa Família:  MĘS REFERĘNCIA            inf
MĘS COMPETĘNCIA           inf
UF                        inf
CÓDIGO MUNICÍPIO SIAFI    inf
NOME MUNICÍPIO            inf
CPF FAVORECIDO            inf
NIS FAVORECIDO            inf
NOME FAVORECIDO           inf
VALOR PARCELA             inf
dtype: float64